app/code/community/RJMetrics/Campaigns/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<!--
/**
 * RJMetrics Campaigns
 *
 * NOTICE OF LICENSE
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *      http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 *
 * @category   RJMetrics
 * @package    RJMetrics_Campaigns
 * @copyright  Copyright (c) 2013 RJMetrics Inc. (http://www.rjmetrics.com)
 * @license    http://www.sumoheavy.com/LICENSE.txt
 * @author     RJ Metrics <support@rjmetrics.com>
 */

/**
 * Module wsdl.xml file
 *
 * @category    RJMetrics
 * @package     RJMetrics_Campaigns
 * @author      RJ Metrics <support@rjmetrics.com>
 */
-->
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/"
    name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/" schemaLocation="http://schemas.xmlsoap.org/soap/encoding/" />
            <complexType name="customerCustomerEntity">
                <all>
                    <element name="rjm_utm_source" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_medium" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_term" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_content" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_campaign" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderListEntity">
                <all>
                    <element name="rjm_utm_source" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_medium" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_term" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_content" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_campaign" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
            <complexType name="salesOrderEntity">
                <all>
                    <element name="rjm_utm_source" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_medium" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_term" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_content" type="xsd:string" minOccurs="0" />
                    <element name="rjm_utm_campaign" type="xsd:string" minOccurs="0" />
                </all>
            </complexType>
        </schema>
    </types>
</definitions>